<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" href="/steve/static/images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/steve/static/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/steve/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/steve/static/css/jquery-ui.min.css">
    <link rel="stylesheet" type="text/css" href="/steve/static/css/jquery-ui-timepicker-addon.min.css">
    <script type="text/javascript" src="/steve/static/js/jquery-2.0.3.min.js"></script>
    <script type="text/javascript" src="/steve/static/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="/steve/static/js/jquery-ui-timepicker-addon.min.js"></script>
    <script type="text/javascript" src="/steve/static/js/script.js"></script>
    <script type="text/javascript" src="/steve/static/js/stupidtable.min.js"></script>
    <title>Remote Controller</title>
</head>
<body>
<form id="params" action="/steve/manager/operations/v1.6/RemoteStartTransaction" method="post"><section><span>Charge Points with OCPP v1.6</span></section>
    <table class="userInput">
        <tbody><tr>
            <td style="vertical-align:top">Select one:</td>
            <td>
                <select id="chargePointSelectList" name="chargePointSelectList" size="5"></select></td>
        </tr>
        </tbody></table>
    <br><section><span>Parameters</span></section>
    <table class="userInput">
        <tbody><tr><td>Connector ID:</td>
            <td><select id="connectorId" name="connectorId" disabled="disabled"></select></td>
        </tr>
        <tr><td>OCPP ID Tag:</td>
            <td>
                <select id="idTag" name="idTag"><option value="CARD-0001">CARD-0001</option><option value="CARD-0002">CARD-0002</option><option value="CARD-0003">CARD-0003</option><option value="CARD-0004">CARD-0004</option><option value="CARD-0005">CARD-0005</option><option value="CARD-0000">CARD-0000</option></select></td>
        </tr>
        <tr><td></td><td><div class="submit-button"><input type="submit" value="Perform"></div></td></tr>
        </tbody></table>
    <div>
        <input type="hidden" name="_csrf" value="a955047b-a200-4679-baad-ab96582392eb">
    </div></form>
</body>
</html>